body {
    background-color: hsl(0, 0%, 96%);
}

h3 {
    color: black;
}

.login-page {
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0 4px 8px 0 rgba(75, 72, 72, 0.2);
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    display: flex;
    width: 70%;
    border: 10px;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}

.email-input, .pass-input {
    width: 28vw;
    text-align: center;

}

.card {
    justify-content: center;
    text-align: center;
    display: block;
    align-items: center;
    background-color: hsl(0, 0%, 80%);
}

.login-submit-btn {
    width: 28vw;

}