.task-table {
  justify-content: center;
  display: flex;
  align-items: center;
}

table {
  width: 100%;
  margin-top: 20px;
  table-layout: auto;
  border-collapse: collapse;
  border-radius: 100px;
}
.tbody {
    background-color: white;
    font-size: medium;
    font-family: sans-serif;
}

.btn-img {
    height: 20px;
    margin: 8px;
}
.btn-img:hover {
    cursor: pointer;
}

.thead {
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

th {
  padding: 10px;
}